@import '../base/Variables.scss';
@import '../base/Colors.scss';
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $height-footer;
    background-color: $grey-300;
    display: flex;
    align-items: center;
    justify-content: center;
    &__by {
        color: $grey-600;
        font-weight: 600;
    }
}